.heading {
}

.about {
  color: #61dafb;
}
.page-links {
  position: relative;
  align-content: left;
}
.LinkedIn {
  position: relative;
  right: -50%;
}
.footer {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.LinkedIn-Image {
  width: 5%;
  height: auto;
}
