.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  min-height: calc(100vh - 120px);
}

.heading {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.about {
  color: #61dafb;
}
.page-links {
  position: relative;
  align-content: left;
}
.LinkedIn {
  position: relative;
  right: -50%;
}
.footer {
  background-color: black;
  position: relative;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding: 1rem 0;
}

.LinkedIn-Image {
  width: 5%;
  height: auto;
}
