.rct-page {
  background: url(../images/IMG_0020.png) no-repeat center center fixed;
  background-size: cover;
  position: fixed;

  left: 0;

  width: 100%;
  height: 100%;
  padding: 10%;
  margin: 0;
}
.rct-header {
  background: #282c34;
  color: white;
  margin: 0;
  padding: 2%;
}
