.aboutpg {
  background-image: url(../images/DSC02560.JPG);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
  color: white;
  padding: 10%;
  margin: 0;
}
.about-page {
  background-color: #282c35;
  color: white;
  padding: 7%;
  margin: 0;
}
.nav-links {
  color: #61dafb;
}
