.home-header {
  background-image: url(../images/DSC02935.JPG);
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  min-height: 130vh;
  display: flex;

  font-size: calc(10px + 2vmin);
  color: white;
}

.home-page {
  font-size: 3vh;
  background-color: #282c35;
  background-size: cover;
  color: white;
}

.home-body {
  align-self: center;
  margin: 0;
  border-bottom: 3vh;
  background: #282c34;
  color: white;
  padding: 10%;
}

.self {
  border-radius: 5%;

  position: relative;
  left: 4%;

  width: 90%;
  height: 40vh;
}
.h1H {
  text-align: center;
}
.h2 {
  color: #66ccff;
  padding-left: 10%;
  padding-top: 5%;
}
.homePage {
  background-color: #000000;
  background-image: none;
}
