.projects {
  background: url(../images/IMAG1080.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  margin: 0;
}

.projects-page {
  background: #282c34;
  color: white;
  margin: 0;
  padding: 5%;
}

.st-Lstm {
  color: #61dafb;
}
.CS-proj {
  color: #61dafb;
}
.ANN-proj {
  color: #61dafb;
}
