.links {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home {
  color: #61dafb;
}
.resume {
  column-rule-color: red;
  color: #61dafb;
  caret-color: red;
}
.projects {
  color: #61dafb;
}
.react-pages {
  color: #61dafb;
}
